*.swp
CMakeCache.txt
CMakeFiles/
CPackConfig.cmake
CPackSourceConfig.cmake
_CPack_Packages/
src/rosco_version.h
bin/
Makefile
cmake_install.cmake
*.gz
install_manifest.txt
Makefile
bin/
cmake_install.cmake
librosco.3.gz
*.deb
build/
librosco.pc
.vscode/c_cpp_properties.json
.vscode/compile_commands.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
MANIFEST
librosco.egg-info/dependency_links.txt
librosco.egg-info/PKG-INFO
librosco.egg-info/SOURCES.txt
librosco.egg-info/top_level.txt
